<!-- <% form_for @classifications do |f| %>
<span>Choose your classification</span>
  <%= f.text_field :name  %>
  <%= f.collection_select :classification, @employee, :to_s, :to_s,
    :include_blank => true
    %>
    <%= f.submit %>
  <% end %> -->
