<%= form_tag users_path do %>
<% if current_user && current_user.role == 'admin' %>

    <div class="event-header">
      <h2>Administrators Only</h2>
    </div>
<% end %>
   <p>Role: <%= current_user.role %></p>
   <% if current_user %>
        <div class="col-md-4">
          <%= link_to "Downgrade Role", new_event_path(@event), class: 'btn btn-success' %>
          <%= u.role = "member" %>
        </div>
      <% end %>

 <% end %>
