
 <div class="user-text">
 <% if current_user == @user %>
   <h1>My Calenders</h1>
 <% else %>
   <h1> <%= @user.name %> </h1>
 <% end %>
 </div>
 <div class="calender-box">
   <div class="calendar-header">
     <h2>Public Calendars</h2>
   </div>
   <%= render @calendars %>
 </div>
 <div class="row">
   <div class="col-md-4 col-md-offset-5 user-btns">
     <% if current_user == @user %>
       <%= link_to "New Calendar", new_Calendar_path(@user, @Calender), class: 'btn btn-success' %>
     <% end %>
     <% if current_user && current_user.role == 'standard' %>
       <%= link_to "Upgrade to Premium", new_charge_path, class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>
 <% if current_user && current_user.role == 'premium' %>
   <div class="calendar-box">
     <div class="calendar-header">
       <h2>Private Calendars</h2>
     </div>
     </div>
 <% end %>
</div>
