<h1>Home Paid Time Off Request App</h1>
<br>
 <div class="jumbotron">
   <h1>RTI inc.</h1>
   <p>RTI is a leader in Beer!</p>
   <p>
     <%= link_to "Sign In", new_user_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>
 <div class="row">
   <div class="col-md-4">
     <h2>Human Resources</h2>
     <p>This page will help process requested Paid Time Off.</p>
   </div>
   <div class="col-md-4">
     <h2>Beer is Good</h2>
     <p>Please drink responsible and Never drink and drive.</p>
   </div>
 </div>
