<h1> Request for Paid Time Off </h1>
<%= form_for Event.new do |f| %>
  <%= f.hidden_field :occurs_on, value:params[:date] %>
  <%= f.text_field :name %>
  <%= f.submit "Click Here to Submit" %>
<%end%>
