<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Select a Date Range</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#from" ).datepicker({

      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate1 ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate1 );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2,
      onClose: function( selectedDate2 ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate2 );
      }
    });
  });
  </script>
</head>
<body>
<h4>Requested for Paid Time Off </h4>
<label for="from">From</label>
<input type="text" placeholder="First date" id="from" name="from">

<label for="to">to</label>
<input type="text" placeholder="Last date" id="to" name="to">

</body>
</html>
Total days = "#to" - "#from"
<div>
<!DOCTYPE html>
<html>
<body>


<button onclick="myFunction()">Submit</button>

<script>
function myFunction() {
    alert("You will receive an email!");
}
</script>

</body>
</html>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
</body>
</html>
