<tr>
  <th>Sunday</th>
  <th>Monday</th>
  <th>Tuesday</th>
  <th>Wednesday</th>
  <th>Thursday</th>
  <th>Friday</th>
  <th>Saturday</th>
</tr>
<!--
<section class="th">
   <span>Sunday</span>
   <span>Monday</span>
   <span>Tuesday</span>
   <span>Wednesday</span>
   <span>Thursday</span>
   <span>Friday</span>
   <span>Saturday</span>
 </section> -->
