<div class="button-bar">
 <button onclick= "@calendars.previous_month">Previous Month</button>
  <button onclick="@calendars">Today</button>
  <button onclick="Calendar.new(starting_date).to_a">Next Month</button>
<!-- <%= Calendar.new(starting_date).to_a %> -->
</div>
