
<div class="button-bar">
  <a href="/calendars/<%= @calendar_past %>" class="btn btn-secondary">Previous Month</a>
  <a href="/calendars/<%= @today %>" class="btn btn-secondary">Today</a>
  <a href="/calendars/<%= @calendar_next %>" class="btn btn-secondary">Next Month</a>

</div>
