<div class="button-bar">
 <button onclick= "@calendars.previous_month">Previous Month</button>
  <button onclick="@calendars">Today</button>
  <button onclick="@calendars.next_month">Next Month</button>

</div>
