<div class="button-bar">
  <button name="Calendar.new(starting_date).to_a" type="button" onclick="getData()">Click</button>

  <button onclick="myFunction()">Reload page</button>

  <script>
  function myFunction() {
      location.reload();
  }
  </script>
 <button onclick= "CalendarWeeks.new(past_date).to_a">Previous Month</button>
  <button onclick="@calendars">Today</button>
  <button onclick="Calendar.new(starting_date).to_a">Next Month</button>
</div>
