<div class="button-bar">
  <button onclick= "I18n.t("date.month_names").to_a">Previous Month</button>
  <button onclick="@calendars">Today</button>
  <button onclick="next_month">Next Month</button>
</div>
