<!-- <div class="button-bar">
 <button onclick= "Time.now.months_since(-1).to_date">Previous Month</button>
  <button onclick="@calendars">Today</button>
  <button onclick="Calendar.new(starting_date).to_a">Next Month</button>
</div> -->
