<h3> Calendar </h3>
<main id="calendar">
  <table>
    <%= render partial: 'headers' %>
    <% @calendars.each do |week| %>
      <%= render partial: 'week', locals: {week: week} %>
    <% end %>
  </table>
</main>
