<h3> Calendar </h3>

<h5>
  <%= render partial: 'next_previous_month' %>
</h5>
<main  id="calendars">
    <%= render partial: 'headers' %>
    <%= render partial: 'week', collection: @calendars %>
</main>
