<h3> 
<%=Date::MONTHNAMES[Date.today.month] %>
</h3>

<h5>
  <%= render partial: 'next_previous_month' %>
</h5>
<main  :id="calendar">
    <%= render partial: 'headers' %>
    <%= render partial: 'week', collection: @calendar %>
</main>
