/* ...
*= require_self
*= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "calendars";

.user-info {
   margin-top: 9px;
   align-left: 4px;
 }

 .nav {
   margin-top: 4px;
 }
